:root {
    --color-black-900: #000000;
    --color-black-800: #171717;
    --color-black-700: #141C24;
    --color-black-400: #1F2631;
    --color-white-0: #FFFFFF;
    --color-white-100: #F1F8FF;
    --color-blue-100: #00C5FF;
    --color-blue-200: #57D6FF;
    --color-blue-300: #50AFCD;
    --color-gray-500: #ABABAB;
    --color-gray-100: #EAE5E5;
    --color-gray-200: #ECECEC;
    --color-gray-300: #F1F1F1;

    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
    --primary-text-color: #0a0a0a;

    /* light theme tokens */
    --background-primary-light: 44, 191, 170;
    --accent-light: 37, 89, 88;

    /* dark theme tokens */
    --background-primary-dark: 25, 48, 66;
    --accent-dark: 90, 182, 204;

    --transition-background-color: background-color 0.5s ease-in;
    --transition-color: color 0.5s ease-in;
}

/* map tokens to proper theme */
:root[data-theme='light'] {
    --background-primary: var(--color-white-100);
    --header-background: var(--color-gray-300);
    --accent: var(--accent-light);
    --primary-text-color: var(--color-black-800);
    --secondary-text-color: var(--color-white-100);
    --primary-button-background: var(--color-blue-300);
}

:root[data-theme='dark'] {
    --background-primary: rgb(var(--background-primary-dark));
    --header-background: var(--color-black-400);
    --accent: var(--accent-dark);
    --primary-text-color: var(--color-white-100);
    --secondary-text-color : var(--color-black-800);
    --primary-button-background: var(--color-blue-100);
}
